* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loader-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}
.loader-msg{
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    color: #293264;
    font-size: 30px;
}
.questScreenEl {
    font-family: 'Inter', sans-serif;
    background-color: #F5F7FB;
    margin: 0px;
    color: #293264;
    background-image: url(../images/blob2.png), url(../images/blob_blue2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
    width: 100vw;
    height: 100vh;
}
.allQ {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    justify-content: space-between;
    align-items: center;

}

.textQ{
    text-align: center;
    margin: 80px 0px 20px 0px;
}

.answ-el {
    width: 700px;
    display: flex;
    align-items: center;
    margin: 10px auto;
    justify-content: space-between;
    border-bottom: 1px solid #DBDEF0;
    padding-bottom: 7px;
}
.answ-el > h1 {
    font-family: 'Karla', sans-serif;
    margin: 0px;
}
.question-item{
    border: 1px solid #4D5B9E;
    background-color: transparent;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
}

.question-item.selected{
    background-color: #d6dbf5;
}

.question-item.correct{
    background-color: #94d7a2;
}

.question-item.incorrect{
    background-color: #f8bcbc;
}
.answerShow {
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.answerShow h3 {
    margin-right: 30px;
}


