* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F7FB;
    margin: 0px;
    color: #293264;
}
.all {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}
.text{
    text-align: center;
}
.text > h1{
    font-family: 'Karla', sans-serif;
    margin-bottom: 0px;
    font-size: 40px;
}
.text > p {
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 19px;
}
.blob1{
    align-self: flex-end;
}
.blob2{
    align-self: flex-start;
}
.btn-InEl {
    background-color: #4D5B9E;
    color: #F5F7FB;
    border: none;
    padding: 20px 76px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
}
.btn-InEl:hover {
    border: 2px solid greenyellow;
}