* {
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F7FB;
    margin: 0px;
    color: #293264;
}
.allQ {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}
.textQ{
    text-align: center;
    margin-bottom: 20px;
}

.blob1{
    align-self: flex-end;
}
.blob2{
    align-self: flex-start;
}
button {
    background-color: #4D5B9E;
    color: #F5F7FB;
    border: none;
    width: 193px;
    height: 62px;
    border-radius: 15px;
    font-weight: 500;
}
.answ-el {
    width: 700px;
    display: flex;
    align-items: center;
    margin: 0px auto;
    justify-content: space-between;
    border-bottom: 1px solid #DBDEF0;
    padding-bottom: 7px;
}
.answ-el > h1 {
    font-family: 'Karla', sans-serif;
    margin: 0px;
}
.question-item{
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
}

